html, body {
    background-color: midnightblue;
}

#gameView {
    border-radius: 50px; 
    margin: 0 auto;
    position: relative;
    width: 90vw;
    height: 100vh;
}

#gameScreen{ 
    border: 5px solid black;
    border-radius: 50px; 
    background-image: url("../assets/starfield.png");
    background-color: darkblue;
}

#gameHeader {
    color: white;
    text-align: center;
}

#gameStartModal{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 'left right';
    background-color: rgba(200, 200, 200, .8);
    background: rgba(230, 18, 18, 0.8) url("../assets/CrosshairPic.png");
    background-size: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 15vh;
    left: 10vw;
    height: 650px;
    width: 80vw;
    z-index: 5;
    text-align: center;
    border-radius: 20px;
    justify-items: center;

}
#gameStartModal ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0 20vw;
}
#gameStartModal ul>li{
    height: 1.5rem;
    text-align: left;
    padding: 1.5rem;
    font-size: 20px;
    font-weight: bold;
}

#gamePlay {
    grid-area: left;
    color: white;
}

#gameControl {
    grid-area: right;
    
}

#close{
    color: #333;
    border: 1px solid #333;
    width: 100px;
    margin: auto;
}
#close:hover{
    cursor: pointer;
    background-color: navy;
    color: white;
}

.Circle {
    border-radius: 50%;
    text-align: center;
    border: 2px solid #666;
}
