html, body {
    background-color: midnightblue
    
}

#gameHeader {
    color: white;
    text-align: center;
}

#gameView {
    margin: 0 auto;
    position: relative;
    width: 90vw;
    height: 100vh;
}

#gameScreen{ 
    border: 5px solid black;
    box-shadow: 30px white;
    border-radius: 50px; 
    background-image: url("/assets/starfield.png");
    background-color: darkblue;
}
